@font-face {
  font-family: Hasteristico;
  src: url(Hasteristico.ttf);
}
:root {
  --color: black;
  --fillColor: white;
  --animationStyle: 175ms ease-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Hasteristico;
  letter-spacing: 1px;
}

body {
  overflow: hidden;
  min-height: 100vh;
  background: #1e1e1e;
}

video {
  width: 100vw;
  height: 100vh;
  -o-object-fit: fill;
     object-fit: fill;
}

#clock {
  --translateX: -50%;
  --translateY: -50%;
  --scale: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(var(--translateX), var(--translateY)) scale(var(--scale));
  transform-origin: center;
  display: flex;
  font-size: 210px;
  height: 163px;
}
#clock .background {
  position: absolute;
  top: -50px;
  left: -50px;
  width: calc(100% + 2 * 50px);
  height: calc(100% + 2 * 50px);
  border-radius: 50px;
  background: rgb(0, 0, 0);
  opacity: 0.25;
  z-index: -1;
}
#clock * {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
}
#clock div {
  --percentage: 0%;
  width: 250px;
  height: 0px;
  padding: 88px 25px 75px 25px;
  color: transparent;
  background-image: linear-gradient(var(--color) 50%, var(--fillColor) 0%);
  background-position-y: var(--percentage);
  background-size: 100% 200%;
  -webkit-background-clip: text;
          background-clip: text;
  transition: background-position var(--animationStyle);
}
#clock #seconds {
  color: var(--color);
  background-image: none;
}
#clock #hrFormat {
  margin-top: 115px;
  padding: 25px 25px 22.1px 25px;
  width: 100px;
  font-size: 60px;
  font-weight: bold;
}

#calendar {
  --translateX: -50%;
  --translateY: 0%;
  --scale: 1;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(var(--translateX), var(--translateY)) scale(var(--scale));
  transform-origin: top center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  width: 163px;
}
#calendar .background {
  position: absolute;
  top: -50px;
  left: -50px;
  width: calc(100% + 2 * 50px);
  height: calc(100% + 2 * 50px);
  border-radius: 50px;
  background: rgb(0, 0, 0);
  opacity: 0.25;
  z-index: -1;
}
#calendar * {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color);
}
#calendar div {
  --percentage: 0%;
  height: 0px;
  padding: 22px 0px 19px 0px;
  margin: 2px;
  color: transparent;
  background-image: linear-gradient(var(--color) 50%, var(--fillColor) 0%);
  background-position-y: var(--percentage);
  background-size: 100% 200%;
  -webkit-background-clip: text;
          background-clip: text;
  transition: background-position var(--animationStyle);
}
#calendar #day {
  font-weight: normal;
  font-size: 100px;
  padding: 42px 0px 36px 0px;
}

#weather {
  --translateX: -50%;
  --translateY: 0%;
  --scale: 1;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(var(--translateX), var(--translateY)) scale(var(--scale));
  transform-origin: bottom center;
  height: 175px;
  display: flex;
  align-items: center;
  gap: 20px;
}
#weather .background {
  position: absolute;
  top: -20px;
  left: -40px;
  width: calc(100% + 4 * 20px);
  height: calc(100% + 2 * 20px);
  border-radius: 50px;
  background: rgb(0, 0, 0);
  opacity: 0.25;
  z-index: -1;
}
#weather #temperature {
  color: var(--fillColor);
  font-size: 150px;
  line-height: 106px;
  padding-top: 9px;
  transition: color 175ms ease-out;
}
#weather .details {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  gap: 10px;
}
@-webkit-keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
#weather .details #weatherImage.loading,
#weather .details .text > div:empty {
  opacity: 0.25;
  background: black;
  overflow: hidden;
  border-radius: 4px;
}
#weather .details #weatherImage.loading::after,
#weather .details .text > div:empty::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: linear-gradient(90deg, transparent 0 10%, #454545, transparent 90% 100%);
  transition: opacity 0.5s linear;
  -webkit-animation: loading 1.5s infinite ease-in-out;
          animation: loading 1.5s infinite ease-in-out;
}
#weather .details #weatherImage {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#weather .details #weatherImage img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  transform: scale(1.4);
}
#weather .details #weatherImage.loading img {
  display: none;
}
#weather .details .text > div {
  color: var(--fillColor);
  font-size: 20px;
  text-transform: capitalize;
  white-space: nowrap;
}
#weather .details .text > div:empty {
  height: 25px;
}
#weather .details .text > div:empty#weatherName {
  width: 150px;
  margin-bottom: 4px;
}
#weather .details .text > div:empty#location {
  width: 75px;
}
#weather .errorDetails {
  display: none;
  width: 325px;
  height: 175px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#weather .errorDetails .message {
  color: white;
  text-align: center;
  font-size: 30px;
}
#weather .errorDetails button {
  width: 45px;
  height: 45px;
  font-size: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: #4183F5;
  color: white;
  transition: background-color 200ms;
}
#weather .errorDetails button:hover {
  background: #1163F2;
}
#weather .errorDetails button:active {
  background: #0B55D4;
}
#weather.error > *:not(.background) {
  display: none;
}
#weather.error .background {
  display: block !important;
  background: red !important;
}
#weather.error .errorDetails {
  display: flex;
}

body > div div {
  transform: scale(1.01);
}